@page "/DeleteImage"
@model SCMWebApp.AdminPanel.Pages.DeleteImageModel
@{
    ViewData["Title"] = "Delete Media";
}

<style>
    .form-container {
        width: 300px;
        height: 600px;
        background-color: #E7E7E7;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .image-container {
        width: 260px;
        height: 200px;
        background-color: white;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
</style>

<div>
    <h1>@ViewData["Title"]</h1>

    <form name="upload-form" method="post" enctype="multipart/form-data" class="form-container">
        Current Image:
        <br />
        <img src="@(Model.Banner.ImagePath)" style="width: 260px; height: 200px;" />
        <br />
        Title:
        <input type="text" asp-for="NewBanner.Title" name="Title" class="form-control" readonly>
        Description:
        <input type="text" asp-for="NewBanner.Description" name="Description" class="form-control" readonly>
        ImageType:
        <select asp-for="NewBanner.BannerTypeId" class="form-control" name="BannerTypeId" disabled>
            <option value="3">Disabled</option>
        </select>
        <br />
        <input type="submit" value="Delete" />
    </form>
</div>