<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Mobile Specific Metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- Bootstrap-->
    <link rel="stylesheet" href="stylesheet/bootstrap.css">

    <!-- Template Style-->
    <link rel="stylesheet" href="stylesheet/font-awesome.css"> 
    <link rel="stylesheet" href="stylesheet/animate.css">
    <link rel="stylesheet" href="stylesheet/style.css">
    <link rel="stylesheet" href="stylesheet/shortcodes.css">
    <link rel="stylesheet" href="stylesheet/jquery-fancybox.css">
    <link rel="stylesheet" href="stylesheet/responsive.css">
    <link rel="stylesheet" href="stylesheet/flexslider.css">
    <link rel="stylesheet" href="stylesheet/owl.theme.default.min.css">
    <link rel="stylesheet" href="stylesheet/owl.carousel.min.css">
    <link rel="stylesheet" href="stylesheet/jquery.mCustomScrollbar.min.css">
    
    <link href="https://scm.uts.edu.my/wp-content/uploads/2018/10/cropped-scm-512x512-192x192.png" rel="shortcut icon">
</head>
<body>
    @*header*@
    <div class="wrap-header">
        <header class="header flat-header lh-header header-style1">
            <div class="site-header-inner">
                <div class="container">
                    <div id="logo" class="logo">
                        <a href="/"><img src="images/logo/02.png" alt="images" style="width: 178px;height: 34px; object-fit: contain;"></a>
                    </div>
                    <div class="mobile-button"><span></span></div>
                    <div class="header-menu">
                        <nav id="main-nav" class="main-nav">
                            <ul class="menu">
                                <li>
                                    <a href="/">Home</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="/#greeting" style="font-size:11px;">About School</a></li>
                                        <li class="menu-item"><a href="/#admission" style="font-size:11px;">Admission</a></li>
                                        <li class="menu-item"><a href="/#link" style="font-size:11px;">Quick Links</a></li>
                                    </ul><!-- sub-menu -->
                                </li>
                                <li>
                                    <a href="/course">Undergraduate</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="/bcs" style="font-size:11px;">Computer Science</a></li>
                                        <li class="menu-item"><a href="course-list.html" style="font-size:11px;">Industrial Design</a></li>
                                        <li class="menu-item"><a href="course-single.html" style="font-size:11px;">Creative Digital Media</a></li>
                                        <li class="menu-item"><a href="course-single.html" style="font-size:11px;">Mobile Game Development</a></li>
                                    </ul><!-- sub-menu -->
                                </li>
                                <li>
                                    <a href="/post-course">Postgraduate</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="/master-computing" style="font-size:11px;">Master in Computing</a></li>
                                        <li class="menu-item"><a href="/phd-computing" style="font-size:11px;">Phd. in Computing</a></li>
                                    </ul><!-- sub-menu -->
                                </li>
                                <li>
                                    <a href="">Explore</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="https://drac.uts.edu.my/facilities/" style="font-size:11px;">School Facilities</a></li>
                                        <li class="menu-item"><a href="https://www.uts.edu.my/tuition-fees/" style="font-size:11px;">Tuition Fee</a></li>
                                        <li class="menu-item"><a href="https://panomatics.com/nextgen/my/ucts/" style="font-size:11px;">Virtual Tour</a></li>
                                    </ul><!-- sub-menu -->
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header><!-- header -->
    </div><!-- wrap-header -->

    @RenderBody()

    @*Footer*@
    <footer id="footer" class="footer-type1">
        <div id="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-footer">
                        <div class="logo-footer">
                            <a href="index.html"><img src="images/logo/02.png" alt="images" style="width: 178px;height: 34px; object-fit: contain;"></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-company">
                        <h3 class="widget widget-title">
                            University
                        </h3>
                        <ul class="widget-nav-menu">
                            <li><a href="https://www.uts.edu.my/about-university/" style="color:black;">About University</a></li>
                            <li><a href="https://panomatics.com/nextgen/my/ucts/" style="color:black;">Virtual Tour</a></li>
                            <li><a href="https://drac.uts.edu.my/facilities/" style="color:black;">Facilities</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-link">
                        <h3 class="widget widget-title">
                            Services
                        </h3>
                        <ul class="widget-nav-menu">
                            <li><a href="https://uts.edu.my/wp-content/uploads/2019/04/financial-assistance-apr16-2019.pdf" style="color:black">Financial Support</a></li>
                            <li><a href="https://sdsd.uts.edu.my/sdsd-home-v2/counseling-and-career-guidance/" style="color:black;">Couseling with Us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-course">
                        <h3 class="widget widget-title">
                            Course
                        </h3>
                        <ul class="widget-nav-menu">
                            <li><a href="/course" style="color:black;">Undergraduate</a></li>
                            <li><a href="/post-course" style="color:black;">Postgraduate</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-media">
                        <h3 class="widget widget-title">
                            Social Media
                        </h3>
                        <ul class="widget-social-media">
                            <li><a href="https://web.facebook.com/utsofficialswk"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/utscm/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.uts.edu.my/contact-2-2/"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="mailto:enquiry@uts.edu.my?subject=Enquiry"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom" class="bottom-type1 clearfix has-spacer">
            <div id="bottom-bar-inner" class="container">
                <div class="bottom-bar-inner-wrap">
                    <div class="bottom-bar-content">
                        <div id="copyright" style="color:black;">
                            ©
                            <span class="text-year" style="color:black;">
                                2023
                            </span>
                            <span class="text-name" style="color:black;">
                                Peace_Maker
                            </span>
                            <span class="license">
                                <a href="#" style="color:black;">All Rights Reserved</a>
                            </span>
                        </div>
                    </div>
                    <div class="bottom-bar-menu">
                        <ul class="bottom-nav">
                            <li class="menu-item"><a href="https://www.uts.edu.my/pdpa/" style="color:black;">Privacy Policy</a></li>
                            <li class="menu-item"><a href="https://aard.uts.edu.my/" style="color:black;">Help Center</a></li>
                            <li class="menu-item"><a href="https://international.uts.edu.my/terms-copyright-legal-and-disclaimer/" style="color:black;">Terms</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <a id="scroll-top" class="show"></a>
    </footer><!-- footer -->

    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/rev-slider.js"></script>
    <script src="javascript/plugins.js"></script>
    <script src="javascript/jquery-countTo.js"></script>
    <script src="javascript/jquery-ui.js"></script>
    <script src="javascript/jquery-fancybox.js"></script>
    <script src="javascript/flex-slider.min.js"></script>
    <script src="javascript/scroll-img.js"></script>
    <script src="javascript/owl.carousel.min.js"></script>
    <script src="javascript/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="javascript/parallax.js"></script>
    <script src="javascript/jquery-isotope.js"></script>
    <script src="javascript/equalize.min.js"></script>
    <script src="javascript/main.js"></script>

    <!-- slider -->
    <script src="rev-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="rev-slider/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading -->
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.actions.min.js"></script>
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.carousel.min.js"></script>
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.kenburn.min.js"></script>
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.layeranimation.min.js"></script>
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.migration.min.js"></script>
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.navigation.min.js"></script>
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.parallax.min.js"></script>
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.slideanims.min.js"></script>
    <script src="rev-slider/js/extensions/extensionsrevolution.extension.video.min.js"></script>
</body>
</html>